@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
@import './vars.scss';

:root {
	--surface-0: #1f1f1f;
	--surface-1: #3c3c3c;

	--text-0: #fafafa;
	--text-1: #cbcbcb;

	--color-accent-1: #{$color-accent-1};
	--color-accent-2: #{$color-accent-2};
}

:root {
	font-family: 'Freeman', sans-serif;
	font-weight: 400;
	font-style: normal;
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 21px;
	background-color: var(--surface-0);
	color: var(--text-0);
	scroll-behavior: smooth;
}

:root {
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	min-width: 0;
}

.gradient-text {
	@include gradient-text;
}

.text-1 {
	color: var(--text-1);
}
