:root {
	--surface-0: #1f1f1f;
	--surface-1: #3f3f3f;

	--text-0: #f1f1f1;
	--text-1: #c1c1c1;
}

:root {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 21px;
	background-color: var(--surface-0);
	color: var(--text-0);
}

* {
	box-sizing: border-box;
	min-width: 0;
}
